Sprint3/person.json
Sprint3/arquivo_texto.txt
Sprint3/ETL/myfunctions/__pycache__/
.idea/
node_modules
.vscode/tasks.json
Sprint7/Desafio1/series.csv
Sprint7/Desafio1/movies.csv
.vscode/settings.json
Sprint8/Tarefa3/animais.csv
Sprint8/Desafio-ParteII/.devcontainer/devcontainer.json
Sprint8/Tarefa3/nomes_aleatorios.txt
